@font-face {
    font-family: GillSansBold;
    src: url(../css/fonts/Gill-Sans-Bold.otf);
}

@font-face {
    font-family: GillSansCondensed;
    src: url(../css/fonts/Gill-Sans-Condensed.otf);
}

@font-face {
    font-family: GillSans;
    src: url(../css/fonts/Gill-Sans.otf);
}

@font-face {
    font-family: GillSansItalic;
    src: url(../css/fonts/Gill-Sans-Italic.otf);
}

@font-face {
    font-family: GillSansLight;
    src: url(../css/fonts/Gill-Sans-Light.otf);
}

@font-face {
    font-family: GillSansMedium;
    src: url(../css/fonts/Gill-Sans-Medium.otf);
}

@font-face {
    font-family: ProximaThin;
    src: url(../css/fonts/Proxima-Nova-ExCn-Thin.otf);
}